@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  font-family: 'The Seasons';
  src: url('/static/fonts/the-seasons-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bright Marching';
  src: url('/static/fonts/bright-marching-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-title: "The Seasons", serif;
  --font-logotype: "Bright Marching", cursive;
  --font-body: "Montserrat", sans-serif;
  --font-mono: "Courier New", monospace;
  --font-sans: "Montserrat", sans-serif;

  --color-lightivory: #fffdec;
  --color-freshpink: #ffe2e2;
  --color-bloomrose: #ffcfcf;
  --color-sunnywasabi: #ccd771;
  --color-deepgreen: #264016;
  --color-royalraspberry: #994455;
}

@layer base {
  :root {
    --color-bg: var(--color-lightivory);
    --color-fg: var(--color-deepgreen);
    --color-primary: var(--color-sunnywasabi);
    --color-secondary: var(--color-royalraspberry);
  }

  .dark {
    --color-bg: var(--color-deepgreen);
    --color-fg: var(--color-lightivory);
    --color-primary: var(--color-sunnywasabi);
    --color-secondary: var(--color-freshpink);
  }
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(24px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-slide-in {
  animation: fadeSlideIn 0.6s ease forwards;
}
.delay-100 {
  animation-delay: 0.1s;
}
.delay-200 {
  animation-delay: 0.2s;
}

/* Base styles */
body {
  font-family: var(--font-body);
  line-height: 1.6;
  background-color: var(--color-bg);
  color: var(--color-fg);
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
  color: var(--color-fg);
}
nav {
  backdrop-filter: blur(20px);
}

/* Form radio buttons */
.form-radio {
  display: flex;
  gap: 10px;
}

.form-radio * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.form-radio label {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0px 20px;
  width: 250px;
  cursor: pointer;
  height: 50px;
  position: relative;
}

.form-radio label::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 45px;
  z-index: -1;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-radius: 10px;
  border: 2px solid transparent;
}
.form-radio label:hover::before {
  transition: all 0.2s ease;
  background-color: rgb(from var(--color-freshpink) r g b / 0.5)
}

.form-radio label:has(input:checked)::before {
  /* background-color: var(--color-freshpink); */
  /* border-color: var(--color-bloomrose); */
  height: 50px;
}
/* .form-radio label .text {
  color: #333;
} */

.form-radio label input[type="radio"] {
  border-color: var(--color-fg);
  border-width: thin;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0;
}
.form-radio label input[type="radio"]:checked {
  background-color: var(--color-bloomrose);
  border-width: 0px;
  -webkit-animation: pulse-12 0.7s forwards;
  animation: pulse-12 0.7s forwards;
}

.form-radio label input[type="radio"]:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: #fff;
  transform: scale(0);
}

.form-radio label input[type="radio"]:checked::before {
  transform: scale(1);
}

@keyframes pulse-12 {
  0% {
    box-shadow: 0 0 0 0 rgba(153, 68, 85, 0.4);
  }
  70% {
    box-shadow: 0 0 0 8px rgba(0, 0, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 255, 0);
  }
}      


select {
  appearance: none; /* Supprime le style natif du navigateur */
  width: 100%;
  padding: 0.75rem 1rem;
  /* border: 2px solid var(--color-bloomrose); */
  border-radius: 8px;
  /* background-color: var(--color-lightivory); */
  /* color: var(--color-fg); */
  font-size: 1rem;
  cursor: pointer;
  /* transition: background-color 0.3s ease, border-color 0.3s ease; */
}

/* Style des options */
option {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-size: 1rem;
  padding: 0.5rem;
}

/* Button styles */
button {
  background-color: var(--color-primary);
  color: var(--color-bg);
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 8px;
}
button:hover {
  background-color: var(--color-secondary);
}
button:active {
  background-color: var(--color-bloomrose);
}
button:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-primary);
}

/*
Input styles
input, textarea {
  border: 1px solid var(--color-sunnywasabi);
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}
input:focus, textarea:focus {
  border-color: var(--color-freshpink);
  outline: none;
  box-shadow: 0 0 0 2px var(--color-sunnywasabi);
}
input[type="checkbox"], input[type="radio"] {
  margin-right: 0.5rem;
}
input[type="checkbox"]:checked, input[type="radio"]:checked {
  background-color: var(--color-freshpink);
  border-color: var(--color-freshpink);
}
input[type="checkbox"]:checked:focus, input[type="radio"]:checked:focus {
  box-shadow: 0 0 0 2px var(--color-sunnywasabi);
}

Table styles
table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}
th, td {
  border: 1px solid var(--color-sunnywasabi);
  padding: 0.5rem;
  text-align: left;
}
th {
  background-color: var(--color-freshpink);
  color: var(--color-deepgreen);
}
td {
  background-color: var(--color-lightivory);
}

Responsive styles
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.875rem;
  }
} */
