{{ define "content" }}
<div class="container mx-auto px-4 py-8">
  <!-- Agenda -->
  <div class="flex flex-col items-center pb-4">
    <h1 class="text-4xl font-bold text-center mb-4">Agenda</h1>
    <div class="flex justify-center w-6 border border-bloomrose"></div>
    <a title="Add to Calendar" class="text-sm font-bold text-bloomrose hover:underline mt-4 addeventatc" data-id="pR26029030" href="https://www.addevent.com/event/pR26029030" target="_blank">+ Ajouter à mon calendrier</a>
    <script type="text/javascript" src="static/js/addeventatc.js" async defer></script>
  </div>

  <div class="max-w-2xl mx-auto w-full space-y-4 flex flex-col items-center empty:hidden" id="visitor_events">
    <!-- Events -->
    <div class="flex flex-col w-full items-center gap-10">
      <!-- Event 1 -->
      <div class="w-full">
        <div class="text-xl font-semibold mb-2 font-overlock">
          25 avril 2026
        </div>
        <div class="flex gap-4 event py-3 w-full">
          <div class="w-1/5 font-light tracking-wide">
            13h30 - 15h
          </div>
          <div class="w-4/5 flex justify-between items-center gap-2 sm:gap-4">
            <div>
              <div class="text-lg font-semibold leading-6 font-overlock text-bloomrose">
                Mariage civil
              </div>
              <div class="mt-1">
                Nous avons le plaisir de vous convier à notre mariage civil à Soissons.
                <br><br>Quelques photos seront prises ensuite dans le jardin de l'Hôtel de Ville.
              </div>
              <a href="https://maps.app.goo.gl/HvvS8u9p5gstHSvh8" target="_blank">
                <div class="flex items-start gap-1 font-light text-gray-500 mt-1 event-location">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mt-[4px] location-svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path>
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                  </svg>
                  <p class="hover:underline">Hôtel de Ville de Soissons, 02200, Soissons, France</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Event 2 -->
      <div class="w-full">
        <div class="flex gap-4 event py-3 w-full">
          <div class="w-1/5 font-light tracking-wide">
            15h30 - 17h
          </div>
          <div class="w-4/5 flex justify-between items-center gap-2 sm:gap-4">
            <div>
              <div class="text-lg font-semibold leading-6 font-overlock text-bloomrose">
                Cérémonie Laïque
              </div>
              <div class="mt-1">
                Voici le moment tant attendu ! Nous sommes impatients de partager avec vous la célébration de notre union.
                <br><br>Si vous souhaitez être acteur de cette cérémonie, n'hésitez pas à prendre
                <a href="/contact" class="underline">contact</a>
                avec nos officiants.
              </div>
              <a href="https://maps.app.goo.gl/Psv4aUuLqnguzzjh7" target="_blank">
                <div class="flex items-start gap-1 font-light text-gray-500 mt-1 event-location">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mt-[4px] location-svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path>
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                  </svg>
                  <p class="hover:underline">Abbaye de Longpont, 02600, Longpont, France</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Event 3 -->
      <div class="w-full">
        <div class="flex gap-4 event py-3 w-full">
          <div class="w-1/5 font-light tracking-wide">
            17h - +++
          </div>
          <div class="w-4/5 flex justify-between items-center gap-2 sm:gap-4">
            <div>
              <div class="text-lg font-semibold leading-6 font-overlock text-bloomrose">
                Cocktail, Dîner et Soirée
              </div>
              <div class="mt-1">
                Après la cérémonie et quelques photos de groupe, nous vous invitons à un cocktail dans le cloître de l'Abbaye, suivi d'un dîner et d'une soirée dansante pour célébrer notre mariage.
                <br><br>Nous avons hâte de partager ce moment festif avec vous !
              </div>
              <a href="https://maps.app.goo.gl/Psv4aUuLqnguzzjh7" target="_blank">
                <div class="flex items-start gap-1 font-light text-gray-500 mt-1 event-location">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mt-[4px] location-svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path>
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                  </svg>
                  <p class="hover:underline">Abbaye de Longpont, 02600, Longpont, France</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Event 4 -->
      <div class="w-full">
        <div class="text-xl font-semibold mb-2 font-overlock">
          26 avril 2026
        </div>
        <div class="flex gap-4 event py-3 w-full">
          <div class="w-1/5 font-light tracking-wide">
            10h - 16h
          </div>
          <div class="w-4/5 flex justify-between items-center gap-2 sm:gap-4">
            <div>
              <div class="text-lg font-semibold leading-6 font-overlock text-bloomrose">
                Brunch
              </div>
              <div class="mt-1">
                Pour clôturer ce week-end de festivités, nous vous invitons à un brunch convivial le dimanche matin.
                <br><br> Vous pouvez nous indiquer si vous souhaitez y participer dans le formulaire de
                <a href="/rsvp" class="underline">RSVP</a>.
              </div>
              <a href="https://maps.app.goo.gl/Psv4aUuLqnguzzjh7" target="_blank">
                <div class="flex items-start gap-1 font-light text-gray-500 mt-1 event-location">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mt-[4px] location-svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path>
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                  </svg>
                  <p class="hover:underline">Abbaye de Longpont, 02600, Longpont, France</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{{ end }}
