<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A&J 2026 ❤️</title>
    <link href="./static/css/output.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/static/images/logo/favicon.png">
</head>
<body class="pt-20">
    <header class="p-4 mb-8 ">
        <div class="container mx-auto flex justify-between items-center">
            <nav class="border-b border-gray-200 fixed w-full z-10 top-0 left-0 shadow-md">
                <div class="w-full max-w-7xl mx-auto flex items-center justify-between p-4 px-6">
                    <!-- Logo / Titre -->
                    <a href="/"><h1 class="text-lg font-logotype!">Anaïs & J.Baptiste</h1></a>

                    <!-- Theme toggle button -->
                    <button id="theme-toggle" aria-label="Toggle Dark Mode" style="background:none; border:none; cursor:pointer;">
                        <!-- Moon icon (dark mode active) -->
                        <svg id="theme-toggle-dark-icon" class="w-5 h-5 hidden" fill="#fffdec" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                        </svg>
                        
                        <!-- Sun icon (light mode or OS preference active) -->
                        <svg id="theme-toggle-light-icon" class="w-5 h-5 hidden" fill="#264016" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path>
                        </svg>
                    </button>

                    <!-- Burger (mobile only) -->
                    <button id="menu-btn" class="md:hidden focus:outline-none">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2"
                        viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </button>
              
                    <!-- Menu full (desktop) -->
                    <div class="hidden md:flex space-x-6 text-sm">
                        <a href="/infos" class="hover:text-(--color-secondary)">Infos pratiques</a>
                        <a href="/programme" class="hover:text-(--color-secondary)">Programme</a>
                        <a href="/rsvp" class="hover:text-(--color-secondary)">RSVP</a>
                        <a href="/contact" class="hover:text-(--color-secondary)">Contact</a>
                    </div>
                </div>
              
                <!-- Menu mobile (hidden by default) -->
                <div id="mobile-menu" class="md:hidden hidden px-4 pb-4 space-y-2 transition-all duration-300 ease-in-out backdrop-blur-md">
                    <a href="/infos" class="block hover:text-(--color-secondary)">Infos pratiques</a>
                    <a href="/programme" class="block hover:text-(--color-secondary)">Programme</a>
                    <a href="/rsvp" class="block hover:text-(--color-secondary)">RSVP</a>
                    <a href="/contact" class="block hover:text-(--color-secondary)">Contact</a>
                </div>
              </nav>
              
              <script>
                const btn = document.getElementById("menu-btn");
                const menu = document.getElementById("mobile-menu");
                btn.addEventListener("click", () => {
                  menu.classList.toggle("hidden");
                });
                document.addEventListener("click", (e) => {
                    const isClickInsideMenu = menu.contains(e.target);
                    const isClickOnButton = btn.contains(e.target);

                    if (!menu.classList.contains("hidden") && !isClickInsideMenu && !isClickOnButton) {
                    menu.classList.add("hidden");
                    }
                });
              </script>
            <script src="/static/js/theme-toggle.js"></script>


        </div>

    </header>



    <main class="container mx-auto px-4">
        {{ template "content" . }}
    </main>
</body>
</html>
