{{ define "content" }}
<div class="container mx-auto px-4 py-8">
  <div class="flex flex-col items-center pb-4">
    <h1 class="text-4xl font-bold text-center mb-4">Cagnotte</h1>
    <!-- <div class="flex justify-center w-6 border border-bloomrose"> -->
      <p class="text-md text-center mt-2 mb-4">Votre présence à nos côtés sera pour nous le plus beau des cadeaux.  
        <br><br>Après 5 ans déjà passés dans notre cocon, nous n’avons plus besoin d’objets pour le remplir.  
        Si vous désirez marquer l’occasion, une cagnotte en ligne est disponible pour nous aider à réaliser notre voyage de noces.
        Une urne physique sera également présente le jour J.
      </p>
      <a href='https://www.onparticipe.fr/c/fyVYIpe5' target="_blank" class="mb-16">
        <button
        class="bg-white border-2 border-black rounded-lg text-black cursor-pointer inline-block font-semibold h-10 leading-6 px-3 text-center no-underline text-decoration-color-black text-decoration-line-none text-decoration-style-solid text-decoration-thickness-auto text-size-adjust-100% transition-colors duration-150 ease-in-out user-select-none align-middle w-56 hover:bg-gray-100"
          target="_blank"
          style="border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; border-top-left-radius: 6px; border-top-right-radius: 6px;"
        >
          Je participe
        </button>
      </a>
      <p class="text-sm text-gray-400 mb-32">
        <br>
        En cliquant sur le bouton, vous serez redirigé·e vers une plateforme externe française et sécurisée.
        <br>
        Cette plateforme n'impose pas de frais aux donateurs, mais propose une contribution volontaire modifiable (quoique bien cachée) lors du paiement.
      </p>
    <!-- </div> -->
  </div>
</div>

{{ end }}
