

/* Ajouter dans le site nos coordonnées de contact (adresse e-mail ou numéro de téléphone) si besoin de confirmation */
/* Ajouter dans le site que si vous souhaitez dire quelques mots, lire un texte ou faire une surprise le jour J, merci de nous le faire savoir */

{{ define "content" }}
<h2 class="text-2xl font-semibold mb-6">Contact</h2>
<p class="mb-4">
  Si vous avez des questions n'hésitez pas à nous contacter !
  <br>
  Vous pouvez également prendre contact avec nos merveilleux officiants si vous souhaitez dire quelques mots, lire un texte ou faire une surprise le jour J.
</p>
<div class="space-y-6">
  <div>
    <h3 class="text-lg font-medium">Nos coordonnées</h3>
    <p>Email : <a href="mailto:anais.mateos@hotmail.fr" class="underline">anais.mateos@hotmail.fr</a> ou <a href="mailto:alves.jeanbaptiste@gmail.com" class="underline">alves.jeanbaptiste@gmail.com</a></p>
    <p>Téléphone : <a href="tel:+33689448369" class="underline">+33 6 89 44 83 69</a> (Anaïs) ou <a href="tel:+33607761009" class="underline">+33 6 07 76 10 09</a> (Jean-Baptiste)</p>
  </div>
  <div>
    <h3 class="text-lg font-medium">Coordonnées de nos officiants</h3>
    <p>Alicia : <a href="mailto:le.guyader.alicia@gmail.com" class="underline">le.guyader.alicia@gmail.com</a> (<a href="tel:+33628522836" class="underline">+33 6 28 52 28 36</a>)</p>
    <p>Adrien : <a href="mailto:adrien.bejot@ecomail.fr" class="underline">adrien.bejot@ecomail.fr</a> (<a href="tel:+33685860688" class="underline">+33 6 85 86 06 88</a>)</p>
  </div>
</div>
{{ end }}