{{ define "content" }}
<div class="container mx-auto px-4 py-8">
  <!-- Title -->
  <div class="flex flex-col items-center pb-4">
    <h1 class="text-4xl font-bold text-center mb-4">Informations pratiques</h1>
    <div class="flex justify-center w-6 border border-bloomrose"></div>
  </div>


  <!-- Longpont -->
  <div class="flex flex-col md:flex-row items-center mb-8">

    <a href="https://www.abbayedelongpont.fr/" target="_blank" class="w-full md:w-5/12 mb-4 md:mb-0 md:mr-8">
      <img src="/static/images/photos/longpont.webp" alt="Cloître de l'Abbaye de Longpont" class="rounded-lg shadow-md">
    </a>
    <p class="text-md md:w-7/12 text-justify">
      Bienvenue à l'Abbaye de Longpont, située au bord de la forêt de Retz. Fondée par les moines cisterciens au XIIème siècle puis détruite, ses ruines majestueuses ont été embellies au 18ème siècle.
      <br><br>
      Ce lieu grandiose et son atmosphère paisible est le cadre idéal pour célébrer notre mariage. Nous sommes impatients de partager ce moment unique avec vous au cœur de cet encrin enchanteur.
    </p>
  </div>

  <div class="flex flex-col items-center pb-4">
    <div class="flex justify-center w-6 border border-bloomrose"></div>
  </div>

  <!-- Soissons -->
  <div class="flex flex-col md:flex-row items-center mb-8">
    <p class="text-md md:w-7/12 md:mr-8 text-justify mb-4">
      L’Hôtel de Ville de Soissons, situé sur les bords de l’Aisne, est un lieu élégant et prestigieux où nous avons choisi de nous unir civilement.
      <br><br>
      Son architecture classique datant de 1775 et ses espaces raffinés créent une ambiance idéale pour marquer cette journée exceptionnelle entourés de nos proches.
    </p>
    <a href="https://www.soissons.fr/" target="_blank" class="w-full md:w-5/12 mb-4 md:mb-0">
      <img src="/static/images/photos/soissons.jpg" alt="Facade arrière de l'Hôtel de Ville de Soissons" class="rounded-lg shadow-md">
    </a>
  </div>

  <!-- Callouts -->
  <div class="container mx-auto px-4 md:w-3/4 w-full max-w-full">
    <div class="grid grid-cols-1 gap-4 mb-8">
      <div class="p-4 border rounded-lg shadow-md">
        <p class="font-bold">Pourrais-je stationner à proximité ?</p>
        <p>Il y a un parking à l'Hôtel de Ville de Soissons, mais il est limité et payant.
          Nous vous recommandons de stationner sur l'Esplanade du Mail, parking gratuit à 2 pas de l'Hôtel de Ville.  
          <br><br>
          Il y a un parking à proximité immédiate des bâtiments de l'Abbaye accessible à pied.</p>
      </div>
      <div class="p-4 border rounded-lg shadow-md">
        <p class="font-bold">Comment s'y rendre sans véhicule ?</p>
        <p>La gare de Soissons est à 25 minutes de marche (5 min. de voiture) de l'Hôtel de Ville, vous pouvez prendre le train (TER HDF K15) qui arrive à 12h41 au départ de Paris.</p>
      </div>
      <div class="p-4 border rounded-lg shadow-md">
        <p class="font-bold">Dress code</p>
        <p>TBD</p>
      </div>
      <div class="p-4 border rounded-lg shadow-md">
        <p class="font-bold">Est-il possible de dormir sur place ?</p>
        <p>Nous avons à disposition 5 gîtes pour une cinquantaine de personnes, indiquez-le dans le formulaire de
          <a href="/rsvp" class="underline">RSVP</a>
          si vous êtes intéressé·e. Le prix est de 100 euros par personne du vendredi au dimanche. L'accès à l'hébergement peut se faire dès le vendredi à 14h.
          <br><br>
          Il y a également l'<a href="https://www.hotel-abbaye-longpont.fr/" class="underline" target="_blank">Hôtel de l'Abbaye</a> à 5 minutes à pied.
        </p>
      </div>
    </div>
  </div>

  <!-- Photos -->
  <div class="flex flex-col items-center pb-4">
    <h1 class="text-4xl font-bold text-center mb-4">Photos</h1>
    <div class="flex justify-center w-6 border border-bloomrose"></div>
    <p class="text-md text-center mt-2 mb-4">Les photos de notre mariage seront partagées ici quelques mois après l'événement.</p>
  </div>

  <!-- Cagnotte -->
  <div class="flex flex-col items-center pb-4 mt-4">
    <h1 class="text-4xl font-bold text-center mb-4">Cagnotte</h1>
    <div class="flex justify-center w-6 border border-bloomrose"></div>
  </div>
  <div class="h-32 bg-gray-100 rounded-lg shadow-md"></div>

</div>

{{ end }}
