{{ define "content" }}
<head>
  <title>Merci pour votre réponse !</title>
</head>
<body class="min-h-screen flex items-center justify-center px-4 py-10">
  <div class="w-full bg-bloomrose shadow-xl rounded-2xl p-8 text-center">
    <h1 class="text-3xl font-bold mb-4 text-deepgreen!">Merci pour votre réponse !</h1>
    <p class="text-sm mb-8 text-deepgreen">
      Si vous souhaitez modifier votre réponse ou en soumettre une autre, cliquez sur le bouton ci-dessous.
    </p>

    <a href="/rsvp" title="Remplir à nouveau le formulaire" class="thank-you-button">
        <em>Remplir à nouveau le formulaire</em>
        <i>&#10095;&#10095;</i>
    </a>
  </div>
</body>
{{ end }}
